body {
    background: url('../img/bg-halloween.png');
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#app {
    margin-top: 40px;
    text-align: center;
}

#logo {
    margin-bottom: 20px;
}
